button{
    margin: auto;
    color: white;
    background: #3F51B5;
    border-radius: 4px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
button:hover{
    background: #D50000;

}
button:disabled {
    background: rgba(0, 0, 0, 0.12);
}